.logement-banner {
    height: 415px;
    position: relative;

    @media screen and (max-width: 768px) {
        height: 255px;
    }

    .img-banner {
        width: 100%;
        height: 100%;
        border-radius: 25px;
        object-fit: cover;
        display: none;

        @media screen and (max-width: 768px) {
            border-radius: 10px;
        }
    }
    .img-banner.active-banner {
        display: block;
    }
    .counter {
        position: absolute;
        left: 50%;
        bottom: 5%;
        color: white;
        font-size: 18px;
        font-weight: 500;

        @media screen and (max-width: 768px) {
            display: none;
        }
    }
}