.logement-host {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}

.host-name {
    color: #FF6060;
    font-weight: 500;
    font-size: 18px;
    text-align: right;
    margin: 0 10px;
    width: 90px;
}

.host-picture {
    border-radius: 50%;
    width: 64px;
}

@media screen and (max-width: 768px) {
    .logement-host {
        margin-bottom: 0;
    }

    .host-name {
        font-size: 12px;
        width: 50px;
    }

    .host-picture {
        width: 32px;
    }
}